.main {
    width: 500px;
    height: 700px;
    margin-left: 100px;
    margin-top: 20px;
    background-color: beige;
}

.inline-text {
    padding-top: 5px;
    padding-left: 60px;
}

.pic-size {
    width: 200px;
    height: 190px;
}